.viewport {
  position: relative;
  height: 480px;
  width: 640px;
  border: 1px solid black;
  overflow: hidden;
  user-select: none;
}
.animation {
  position: absolute;
  color: red;
  font-size: 25px;
  font-weight: bolder;
  width: 50px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  left: -25px;
  top: -15px;
}
.animation.pui-removing {
  animation: fade-out 2s forwards;
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    top: -100px;
  }
}

@keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 10px rgba(255, 0, 0, 0);
  }

  100% {
    -webkit-box-shadow: 0 0 0 0 rgb(0, 255, 0);
  }
}

@keyframes battle-damage-blink {
  to {
    visibility: hidden;
  }
}
.battle-damage-blink {
  animation: battle-damage-blink 0.3s steps(2, start) 2;
}
