:root {
  color: rgba(255, 255, 255, 0.87);
  color-scheme: light dark;
  background-color: #242424;
  display: flex;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  font-weight: 400;
  image-rendering: pixelated;
  justify-content: space-around;
  margin: 0;
  min-height: 100vh;
  min-width: 320px;
  line-height: 1.5;
  place-items: center;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#viewport {
  margin: 0 auto;
  max-width: 1280px;
  padding: 2rem;
  text-align: center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

a {
  color: #646cff;
  font-weight: 500;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

.alert {
  background-color: #333333;
  border-radius: 5px;
  box-shadow: 0 0 15px 0 black;
  cursor: pointer;
  display: flex;
  font-size: 30px;
  font-weight: 800;
  min-height: 50px;
  left: 0;
  line-break: anywhere;
  position: absolute;
  top: 0;
  overflow: hidden;
  width: 100%;
  -webkit-box-shadow: 0 0 15px 0 black;
}

.alert.success {
  background-color: #00cc00;
}

.alert.info, .alert.thinking {
  background-color: #646cff;
}

.alert.warn {
  background-color: #cccc00;
}

.alert.error {
  background-color: #ff3333;
}

.alert-message {
  color: white;
  flex: 1 1 auto;
  padding-left: 20px;
  text-align: center;
  text-shadow: 3px 2px 3px black;
}

.alert.thinking .alert-message {
   flex-grow: 1;
   flex-shrink: 0;
   flex-basis: auto;
   text-align: right;
  }

.alert-close {
  align-self: center;
  flex: 0 1 auto;
  margin-right: 20px;
  padding-left: 30px;
  text-shadow: 3px 2px 3px black;
}

.alert-close:hover {
  color: yellow;
}

.dots {
  align-self: center;
  flex-grow: 1;
  padding-left: 20px;
  padding-top: 10px;
}

.dot-flashing {
  animation: dot-flashing 1s infinite linear alternate;
  animation-delay: 0.5s;
  background-color: white;
  border-radius: 5px;
  color: white;
  height: 7px;
  position: relative;
  width: 7px;
}

.dot-flashing::before, .dot-flashing::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
}

.dot-flashing::before {
  animation: dot-flashing 1s infinite alternate;
  animation-delay: 0s;
  background-color: white;
  border-radius: 5px;
  color: white;
  height: 7px;
  left: -10px;
  width: 7px;
}

.dot-flashing::after {
  animation: dot-flashing 1s infinite alternate;
  animation-delay: 1s;
  background-color: white;
  border-radius: 5px;
  color: white;
  left: 12px;
  width: 7px;
  height: 7px;
}

@keyframes dot-flashing {
  0% {
    background-color: white;
    box-shadow: 3px 2px 3px black;
  }
  50%, 100% {
    background-color: rgba(30, 26, 48, 0.2);
  }
}

button {
  background-color: #1a1a1a;
  border: 1px solid transparent;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  padding: 0.6em 1.2em;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

#shop-end {
  margin-top: 30px;
}

@media (prefers-color-scheme: light) {
  :root {
    background-color: #ffffff;
    color: #213547;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

li[droppable].pulse {
  border-radius: 3px;
  animation: pulse 1s infinite;
}

ul.shop-items,
ul.inventory-items {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  list-style: none;
  margin-right: 10px;
  padding-left: 0;
  white-space: nowrap;
}

ul.shop-items > li,
ul.inventory-items > li {
  background: url(./image/sprite/inventory_square.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  height: 64px;
  width: 64px;
  justify-content: center;
  align-items: center;
  margin: 0 10px 0 0;
  user-select: none;
}

i.sprite32 {
  background: url(./image/sprite/whale.png);
  background-repeat: no-repeat;
  cursor: grab;
  transform: scale(3);
  user-select: none;
  height: 32px;
  width: 32px;
}
